.control-group .inputImage {
    visibility: hidden;
    appearance: none;
    width: 90px;
    height: 40px;
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
}

.control-group .inputImage::before {
    width: 90px;
    height: 40px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    visibility: visible;
    appearance: none;
}

.input-group {
    position: absolute;
    bottom: 52px;
    background-color: white;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.bible-ref {
    width: 100%;
    height: auto;
    padding: 12px 14px;
    background-color: rgba(255, 1, 1, 0.068);
}